.card {
  height: 300px;
  width: 270px;
  flex-shrink: 0;
  position: relative;
}
.like,
.friend {
  position: absolute;
}
.like {
  top: 8px;
  right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.like:hover {
  opacity: 0.8;
}
.friend {
  left: -14px;
}
.photo {
  height: 176px;
  width: 100%;
  border-radius: 7px;
  background-color: var(--main-purple);
}
.info .name {
  display: flex;
  align-items: center;
  color: var(--main-green);
  font-size: 18px;
  margin: 10px 0;
}
.info .name span {
  margin-left: 5px;
  font-family: "Nunito Bold";
}
.info .adress {
  font-size: 14px;
  color: #777777;
  font-family: "Nunito Bold";
  margin-bottom: 5px;
}
