/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable_carroussel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable_carroussel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carrousel {
  min-height: max-content;
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.scrollable_carroussel {
  width: 100%;
  height: 100%;
  display: flex;
  scroll-behavior: smooth;
  overflow-x: scroll;
}
.arrow_left,
.arrow_right {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  background-color: rgb(206, 197, 197, 1);
  border-radius: 50%;
  margin-top: 10%;
}
.arrow_right {
  right: 0;
}
.relative {
  position: relative;
}
.card {
  height: 240px;
  width: 240px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}
.scrollable_carroussel > div:first-child {
  margin-left: 0;
}
