/* import font sizes */
@font-face {
  font-family: "Nunito Bold";
  src: url("../assets/font/Nunito-ExtraBold.woff2") format("woff2"),
    url("../assets/font/Nunito-ExtraBold.woff") format("woff"),
    url("../assets/font/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/font/Nunito-Regular.woff2") format("woff2"),
    url("../assets/font/Nunito-Regular.woff") format("woff"),
    url("../assets/font/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* css variables */
:root {
  --main-purple: #7c4ec4;
  --main-green: #21820c;
}
/* global rules */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

* {
  font-family: "Nunito Bold";
  box-sizing: border-box;
}
li {
  list-style: none;
}
p {
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1250.98px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}
button {
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}

/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
