.header {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 40px;
  width: 160px;
}
.nav_bar ul {
  display: flex;
}
.nav_bar ul li {
  margin-left: 20px;
  font-family: "Nunito";
}
