.header {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
}
.logo img {
  height: 40px;
  width: 160px;
}
.nav_bar ul {
  display: flex;
}
.nav_bar ul li {
  margin-left: 20px;
}
