.header {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5000;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0 0 5px grey;
}
.logo img {
  height: 40px;
  width: 160px;
  cursor: pointer;
}
.nav_bar ul {
  display: flex;
}
.nav_bar ul li {
  margin-left: 20px;
  font-family: "Nunito";
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}
.nav_bar ul li:after {
  display: block;
  margin-top: 3px;
  content: "";
  border-bottom: 3px solid var(--main-purple);
  transform: scaleX(0);
  transition: transform ease-in-out 250ms;
}
.nav_bar ul li:hover:after {
  transform: scaleX(1);
}
