.hero {
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("../assets/img/hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.search {
  width: 100%;
  margin-bottom: 50px;
}
.title {
  font-family: "Nunito Bold";
  text-align: center;
  color: #fff;
  font-size: 36px;
}
.search_bar {
  margin: 0 auto;
  height: 50px;
  width: 40%;
  min-width: 500px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.search_bar input {
  outline: none;
  height: 50px;
  font: 1em sans-serif;
  padding-left: 10px;
  width: 100%;
  border: none;
}
.search_bar > span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 50px;
  width: 70px;
  top: 0;
  right: 0;
  color: white;
  background-color: var(--main-purple);
}
.search_bar > span:hover {
  opacity: 0.7;
}
.decoration {
  width: 100%;
  height: 100px;
  position: absolute;
  right: 0;
  z-index: -1;
  bottom: 0;
}
