.home main .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title h1 {
  font-family: "Nunito Bold";
  color: #444444;
}
.title span {
  display: flex;
  align-items: center;
  color: var(--main-purple);
  font-family: "Nunito Bold";
  cursor: pointer;
  line-height: 24px;
}
.title span:hover {
  text-decoration: underline;
}
.home main .restos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home main {
  z-index: 2;
}

/* // X-Small devices (portrait phones, less than 576px)


// Small devices (landscape phones, less than 768px)



// Medium devices (tablets, less than 992px)


/* 
@media (max-width: 1250.98px) { 

} */
@media (max-width: 991.98px) {
  .title h1 {
    font-size: 3vw;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  .title h1 {
    font-size: 20px;
  }
  .title span {
    font-size: 14px;
    min-width: max-content;
    margin-left: 10px;
  }
  .home main .restos {
    justify-content: center;
  }
}
@media (max-width: 375.98px) {
  .title h1 {
    font-size: 16px;
  }
  .home main .restos {
    margin-top: 20px;
  }
}
