.login {
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login main {
  width: 700px;
  height: 450px;
  display: flex;
}
.login main > div {
  width: 50%;
  height: 100%;
}
.col_1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.col_2 form {
  display: flex;
  flex-direction: column;
}
.col_2 {
  padding: 20px;
}
.col_2 h4 {
  font-size: 24px;
  color: #444444;
}
.col_2 input {
  outline-color: var(--main-purple);
  width: 100%;
  height: 45px;
  padding: 5px 10px;
  font-size: 1rem;
  margin-top: 10px;
  font-family: "Nunito";
}
.col_2 input::placeholder {
  color: #686868;
  font-family: "Nunito";
}
.col_2 label {
  color: #444444;
  margin-top: 20px;
}
.col_2 button {
  width: 100%;
  height: 45px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  margin: 30px 0;
}

.col_2 form button {
  background-color: var(--main-purple);
}
.bottom p {
  text-align: center;
}
.bottom button {
  background-color: black;
}
