.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  padding-bottom: 20px;
}

.pagination .pages {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .pages .icon {
  cursor: pointer;
  margin: 5px;
}
.pagination .page_number_square {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 30px;
  height: 30px;
}
.pagination .page_number {
  display: flex;
  line-height: 30px;
  cursor: pointer;
  margin: 10px;
}

.pagination .pages .icon1:hover,
.pagination .pages .icon:hover,
.pagination .page_number:hover {
  text-decoration: underline;
}
.active {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-purple);
  font-size: 1.5rem;
}
@media (max-width: 575.98px) {
  .pagination .pages .icon {
    height: 20px;
  }
}
