.restaurant {
  min-height: calc(100vh - 110px);
  padding-bottom: 50px;
}

.add_review button {
  background-color: var(--main-purple);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}
.add_review button:hover {
  opacity: 0.7;
}
