.add_review {
  min-height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.add_review main {
  width: 750px;
  display: flex;
  flex-direction: column;
}
.add_review form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
}
.add_review {
  padding: 20px;
}
.add_review h1 {
  color: #444444;
  font-size: 30px;
}
.add_review h1 > span {
  color: var(--main-purple);
}
.add_review p {
  color: #444444;
  font-family: "Nunito";
  line-height: 24px;
}
.add_review input,
.add_review textarea {
  outline-color: var(--main-purple);
  width: 100%;
  height: 45px;
  padding: 5px 10px;
  font-size: 1rem;
  margin-top: 10px;
  font-family: "Nunito";
  border: 1px solid rgb(219, 219, 219);
  resize: none;
}
.add_review textarea {
  height: 200px;
}
.add_review input::placeholder,
.add_review textarea::placeholder {
  color: #7a7a7a;
  font-family: "Nunito";
}
.add_review label {
  color: #444444;
  margin-top: 16px;
}
.add_review button {
  width: 100%;
  height: 45px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  margin: 30px 0;
}
.add_review .rating_label {
  margin-bottom: 10px;
}
.rating {
  margin-bottom: 40px;
}
.star {
  cursor: pointer;
}
.add_review h3 {
  margin: 20px 0;
}
.pros_cons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pros_cons span {
  margin-right: 10px;
  font-family: "Nunito";
  margin-top: 10px;
}
.add_review form button {
  background-color: var(--main-purple);
}
