.search {
  min-height: calc(100vh - 110px);
  padding: 50px 0;
}
.search_bar {
  border-radius: 5px;
  width: 700px;
  background-color: green;
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
}
.search_bar input {
  border-radius: 5px;
  outline-color: var(--main-purple);
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 1.2rem;
  font-family: "Nunito";
}
.search main {
  margin-top: 100px;
  margin-bottom: 30px;
}
.filter {
  display: inline-block;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  padding: 5px 10px;
  color: var(--main-purple);
  font-family: "nunito";
  font-size: 1.2rem;

  width: max-content;
}
.filter select {
  margin-left: 10px;
  background-color: transparent;
  font-size: 1.2rem;
  height: 20px;
  line-height: 20px;
  appearance: none;
  border: none;
  font-family: "nunito";
  outline: none;
}
.count_result {
  margin-top: 20px;
  font-size: 1.2rem;
  width: max-content;
  position: relative;
}
.count_result::after {
  content: "";
  bottom: -5px;
  width: 100%;
  left: 0;
  height: 3px;
  background-color: var(--main-purple);
  position: absolute;
}

.search_bar .icon_div {
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  position: absolute;
  right: 0;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-purple);
}
.card {
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  width: 800px;
  height: 300px;
  margin-top: 30px;
  cursor: pointer;
}
.no_result {
  margin-top: 100px;
  text-align: center;
  font-size: 2rem;
  color: var(--main-green);
}
.card > div {
  height: 100%;
  width: 50%;
}
.col_1 {
  position: relative;
  background-color: var(--main-purple);
  border-radius: 10px;
}
.col_1 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.col_2 {
  padding: 20px 30px;
  overflow: hidden;
}
.col_2 h2 {
  color: var(--main-green);
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}
.type {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-green);
  border-radius: 10px;
  width: max-content;
  height: 40px;
  padding: 5px;
  /* margin: 10px 0; */
  background-color: lavender;
}
.address {
  margin: 20px 0;
  font-size: 1.3rem;
  height: 2.4rem;
  overflow: hidden;
}
.description {
  margin-top: 10px;
  font-family: "Nunito";
  height: 3.6em;
  overflow: hidden;
  line-height: 1.2em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
@media (max-width: 850.98px) {
  .card {
    width: 97%;
  }
}
@media (max-width: 750.98px) {
  .search_bar {
    width: 95%;
    height: 40px;
  }
  .search main {
    margin-top: 50px;
  }
  .col_2 {
    padding: 10px 20px;
    overflow: hidden;
  }
  .col_2 h2 {
    color: var(--main-green);
    font-size: 20px;
    line-height: 22px;
    height: 22px;
  }
  .type {
    height: 30px;
  }
  .address {
    font-size: 1rem;
    height: 2.4rem;
  }
}

@media (max-width: 575.98px) {
  .card {
    height: 400px;
    flex-direction: column;
  }
  .card > div {
    width: 100%;
  }
  .card > div:first-child {
    height: 60%;
    border-radius: 10px 10px 0 0;
  }
  .card > div:last-child {
    height: 40%;
    padding: 10px 5px 5px;
  }
  .description {
    display: none;
  }
  .search h1 {
    font-size: 25px;
  }
  .address {
    margin: 5px 0;
  }
  .col_2 h2 {
    margin-bottom: 10px;
  }
}
@media (max-width: 375.98px) {
  .search h1 {
    font-size: 25px;
  }
  .card {
    height: 300px;
    flex-direction: column;
  }
  .card > div:first-child {
    height: 50%;
  }
  .card > div:last-child {
    height: 50%;
  }
}
